<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive</title>
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>
<body ng-app='igApp' ng-controller="HostCtrl">
    <nav ng-hide="connected" class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="alert alert-danger">Disconnected!</div>
    </nav>
    
    <div class="container">

        <h3>Current screen</h3>

        <p ng-show="screen"><span class="glyphicon glyphicon-film">&nbsp;</span>{{ screen }}</p>
        <p ng-hide="screen"><span class="glyphicon glyphicon-list">&nbsp;</span> Showing what has been said.</p>

        <hr/>

        <button class="btn btn-warning" ng-click="show_messages()">
            <span class="glyphicon glyphicon-ban-circle">&nbsp;</span>Show what has been said.
        </button>
        <button class="btn btn-danger" ng-click="delete_messages()">
            <span class="glyphicon glyphicon-trash">&nbsp;</span>Delete all messages
        </button>

        <h3>Show message on screen</h3>

        <div class="row">
            <div class="col-md-12">
                <form ng-submit="show()">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="message"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary " ng-click="show()">
                                <span class="glyphicon glyphicon-film">&nbsp;</span>Show
                            </button>
                        </span>
                    </div>  
                </form>
            </div>
        </div>

        <h3>Select message from all that has been said</h3>

        <div class="col-md-12">
            <blockquote ng-repeat="msg in messages track by $index">
                <button class="btn btn-primary " ng-click="select(msg)">
                    <span class="glyphicon glyphicon-film">&nbsp;</span>Show
                </button>
                {{ msg }}
            </blockquote>
        </div>
    </div>

    <script src="components/angular/angular.min.js"></script>
    <script src="components/socket.io-client/dist/socket.io.min.js"></script>
    <script src="components/angular-socket-io/socket.js"></script>

    <script src="scripts/host.js"></script>
</body>
</html>